
/* Roboto font implementation */
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
$linkColor: #18af04;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  line-height: 1.5;
}

body a {
  text-decoration: none;
  color: $linkColor !important;
}