
/* Georgia font implementation */
$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: Georgia, serif;
$linkColor: #18af04 !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  line-height: 1.5;
}

body a {
  text-decoration: none;
  color: $linkColor;
}