---
layout: default
---
<div class="row g-5 mb-2">
  <div class="col-md-6">
    <h3 class="fw-bold">Research</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/Shloka.jpg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Miscellaneous Written Work</h3>
    <p>My more informal written work, including notes from textbooks and papers that I'm excited about! Notes are denoted (Note).</p>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>

<div class="row g-5 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Selected Talks</h3>
      <p><b>A New, Global estimate for Biological Soil Crust Carbon and Nitrogen Flux in Terrestrial Ecosystems.</b> Presented at 2023 Ecological Society of America Annual Meeting (Oral Presentation). Aug 9, 2023. [<a href="http://blogs.cuit.columbia.edu/svj2113/files/2023/08/SVJanapaty_ESA23-7.pdf">Slides</a>]</p>
      <p><b>A Global Dataset of Biocrust Carbon and Nitrogen Flux.</b> Presented at 7th Annual Digital Data In Biodiversity Conference (Oral Presentation). Jun 6, 2023. [<a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/07/SVJ_Digital_Data.pdf">Slides</a>]</p>
      <p><b>A Chip-firing Game for Biocrust Succession Dynamics in response to Generic Disturbance.</b> Presented at Northeast Natural History Conference (Oral Presentation). April 23, 2023. [<a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/07/SVJ_NENHC.pdf">Slides</a>]</p>
      <p><b>Scaling Biocrust Data Globally.</b> Presented at American Statistical Association Symposium on Data Science (Lightning Talk). June 7, 2022.</p>
  </div>
</div>
