---
layout: default
---
<div class="row g-5 mb-2">
  <div class="col-md-6">
    <h3 class="fw-bold">Overview</h3>
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/Shloka.jpg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Research</h3>
    <p>
      I aim to use tools from mathematics to investigate life in its changing geochemical environment. The kind of ecological theory I enjoy most is:
      <ul>
        <li><b>low-dimensional</b>: what is the simplest representation of this problem?</li>
        <li><b>cross-disciplinary</b>: where different fields interface and new applications arise</li>
        <li><b>meaningful</b>: provides fundamental insight into animal welfare, vulnerable biogeochemical stocks, and other neglected problems</li>
      </ul>  
      Previously, I worked with [<a href="https://lawr.ucdavis.edu/people/faculty/monier-erwan">Erwan Monier</a>] at UC Davis on biocrust contributions to the global carbon and nitrogen budget. I was also at the [<a href="https://www.santafe.edu/">Santa Fe Institute</a>] developing a model of biocrust growth, death, and competitive controls on regional biogeochemistry with [<a href="https://www.mingzhenlu-lab.com/">Mingzhen Lu</a>] and [<a href="https://www.santafe.edu/people/profile/chris-kempes">Chris Kempes</a>].
    </p>
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Miscellaneous Written Work</h3>
    <p>My more informal written work, including notes from textbooks and papers that I'm excited about! Notes are denoted (Note).</p>
    <p><a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/07/SVJ_Digital_Data.pdf">Roxanne's Gas Gauge</a> - May 8, 2024</p>
    <p><a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/05/Fixation_Probability.pdf">Fixation Probability (Note)</a> - April 14, 2023</p>
    <p><a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/05/PDE_based_Scale_Dependent_Feedback_Model.pdf">Notes on Gilad <i>et al.</i> (2007)</a> - May 20, 2023</p>
  </div>
</div>

<div class="row g-5 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Selected Talks</h3>
      <p><b>A New, Global estimate for Biological Soil Crust Carbon and Nitrogen Flux in Terrestrial Ecosystems.</b> Presented at 2023 Ecological Society of America Annual Meeting (Oral Presentation). Aug 9, 2023. [<a href="http://blogs.cuit.columbia.edu/svj2113/files/2023/08/SVJanapaty_ESA23-7.pdf">Slides</a>]</p>
      <p><b>A Global Dataset of Biocrust Carbon and Nitrogen Flux.</b> Presented at 7th Annual Digital Data In Biodiversity Conference (Oral Presentation). Jun 6, 2023. [<a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/07/SVJ_Digital_Data.pdf">Slides</a>]</p>
      <p><b>A Chip-firing Game for Biocrust Succession Dynamics in response to Generic Disturbance.</b> Presented at Northeast Natural History Conference (Oral Presentation). April 23, 2023. [<a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/07/SVJ_NENHC.pdf">Slides</a>]</p>
      <p><b>Scaling Biocrust Data Globally.</b> Presented at American Statistical Association Symposium on Data Science (Lightning Talk). June 7, 2022.</p>
  </div>
</div>
