---
layout: default
---
<div class="row g-5 mb-2">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/Shloka.jpg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-2">Miscellaneous Written Work</h3>
    <p>My more informal written work, including notes from textbooks and papers that I'm excited about! Notes are denoted (Note).</p>
    <p><a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/07/SVJ_Digital_Data.pdf">Roxanne's Gas Gauge</a> - May 8, 2024</p>
    <p><a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/05/Fixation_Probability.pdf">Fixation Probability (Note)</a> - April 14, 2023</p>
    <p><a href="https://blogs.cuit.columbia.edu/svj2113/files/2023/05/PDE_based_Scale_Dependent_Feedback_Model.pdf">Notes on Gilad <i>et al.</i> (2007)</a> - May 20, 2023</p>
  </div>
</div>

<div class="row g-0 mb-2">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-2 mb-3">Random</h3>
  </div>

  <div class="col-md-6 mb-2">
    <div class="p-3"> 
      <b>Favorite Movies:</b>
      <ol class="mb-1">
        <li><a href="https://www.imdb.com/title/tt0120586/?ref_=chttp_t_5">American History X</a> (Directed by Tony Kaye, 1998)</li>
        <li><a href="https://www.imdb.com/title/tt0167260/?ref_=chttp_t_2">The Lord of the Rings: The Return of the King</a> (Directed by Peter Jackson, 2003)</li>
        <li><a href="https://www.imdb.com/title/tt0407887/?ref_=chttp_t_3">The Departed</a> (Directed by Martin Scorcese, 2006)</li>
        <li><a href="https://www.imdb.com/title/tt0050083/?ref_=chttp_t_4">Twelve Angry Men</a> (Directed by Sidney Lumet, 1957)</li>
        <li><a href="https://www.imdb.com/title/tt2380307/?ref_=chttp_t_10">Coco</a> (Directed by Lee Unkrich and Adrian Molina, 2017)</li>
      </ol>
    </div>
  </div>


  <div class="col-md-6 mb-2">
    <div class="p-3"> 
      <b>Favorite Books:</b>
      <ol class="mb-1">
        <li><a href="https://www.goodreads.com/book/show/320.One_Hundred_Years_of_Solitude">One Hundred Years of Solitude</a> (Gabriel Garcia Marquez)</li>
        <li><a href="https://www.goodreads.com/book/show/33589618-on-liberty-utilitarianism-and-the-subjection-of-women">On Liberty, Utilitarianism, and The Subjection of Women</a> (John Stuart Mill)</li>
        <li><a href="https://www.goodreads.com/book/show/11468377-thinking-fast-and-slow">Thinking, Fast and Slow</a> (Daniel Kahneman)</li>
        <li><a href="https://www.goodreads.com/book/show/6288.The_Road?from_search=true&from_srp=true&qid=Tlsn6cBLP9&rank=1">The Road</a> (Cormac McCarthy)</li>
        <li><a href="https://www.goodreads.com/book/show/85301.Unaccustomed_Earth">Unaccustomed Earth</a> (Jhumpa Lahiri)</li>
      </ol>
    </div>
  </div>
</div>


